.swiper {
  width: 100%;
  height: auto; /* Ensure Swiper container adjusts to content */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.swiper-slide {
  display: flex; /* Flexbox for centering content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 33.33%; /* Set consistent width for slides (1/3 of the view for 3 slides per view) */
  background: transparent !important; /* Remove background for transparency */
}

.swiper-slide img {
  width: 100%; /* Ensure images fit their container */
  height: auto;
  object-fit: cover;
}

.swiper-wrapper {
  padding: 0; /* Remove padding in the wrapper */
}

.swiper-button-next,
.swiper-button-prev {
  top: 36% !important; /* Center navigation arrows vertically */
  /* transform: translateY(-50%); */
  color: black !important;
}

.swiper-pagination {
  bottom: 10px !important; /* Adjust pagination to fit well below the Swiper */
}
